<nav class="top-navbar">
  <div class="container nav-inner">

    <!-- Logo -->
    <a class="brand" routerLink="/">
      <span class="brand-mark">B</span>
      <span class="brand-text">BlogSphere</span>
    </a>

    <!-- Center Navigation -->
    @if (authService.currentUser()) {

    <div class="nav-center">

      <a routerLink="/" routerLinkActive="active-link">
        Home
      </a>

      <a routerLink="/blogs" routerLinkActive="active-link">
        Blogs
      </a>

      <a routerLink="/my-blogs" routerLinkActive="active-link">
        📚 My Blogs
      </a>

      <a routerLink="/create-blog" routerLinkActive="active-link">
        ✍️ Create Blog
      </a>

      <a routerLink="/profile" routerLinkActive="active-link">
        👤 Profile
      </a>

    </div>

    }

    <!-- Right Side -->
    <div class="nav-actions">

      @if (authService.currentUser()) {

      <a routerLink="/profile" class="user-info">

        @if(authService.currentUser().profileImage){

        <img [src]="'http://localhost:3001' + authService.currentUser().profileImage" class="user-avatar-img"
          alt="Profile">

        } @else {

        <div class="user-avatar">
          {{ authService.currentUser().username.charAt(0).toUpperCase() }}
        </div>

        }

        <div class="user-details">

          <span class="welcome-text">
            Welcome back 👋
          </span>

          <span class="username">
            {{ authService.currentUser().username }}
          </span>

        </div>

      </a>

      <button class="logout-btn" (click)="logout()">
        Logout
      </button>

      } @else {

      <a routerLink="/login" class="nav-link">
        Login
      </a>

      <a routerLink="/register" class="nav-btn">
        Register
      </a>

      }

    </div>

  </div>
</nav>

<div class="container mt-4">
  <router-outlet></router-outlet>
</div>